.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: lightgrey;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.logout{
  position: relative;
  right: -1200px;
}
.log{
  color: beige;

}
